.box {
  padding: 0, 2%;
}

.company {
  color: lightslategray;
  font-size: 13px;
}
.price {
  float: right;
  text-align: right;
  font-size: 16px;
}

.detail {
  font-family: NeoDunggeunmo;
  text-align: center;
  margin-bottom: 7px;
}

.payment {
  text-align: right;
  display: inline-block;
  margin-bottom: 15px;
  width: 314px;
}
.paybtn {
  font-family: NeoDunggeunmo;
  height: 39px;
  width: 314px;
  border-radius: 20px;
  background-color: #b4e8e6;
  border: none;
  float: right;
  text-align: center;
  line-height: 39px;
}
.item_title {
  font-size: 22px;
}

.infoimg {
  width: 100%;
}
