#span.ant-calendar-picker {
    width: 100% !important;
    height: 39px !important;
    background-color: #F9DB99 !important;
    border-radius: 20px !important;
    border: 0 !important;
    margin-top: 23px !important;
}