.A {
  font-family: Pretendard;
  width: 100%;
  margin: 3rem auto;
  padding: 0 3%;
}

.title {
  font-size: 19px;
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 15px;
  text-align: center;
}
.title2 {
  font-size: 19px;
  /* font-weight: bold; */
  margin-top: 14px;
  padding-left: 10px;
}
.pay {
  height: 39px;
  width: 100%;
  border-radius: 20px;
  background-color: #b4e8e6;
  border: none;
  text-align: center;
  line-height: 39px;
}

/* .checkbox { */
/* display: inline-flex;
  flex-direction: column;
}
.ant-radio-input {
  margin-bottom: 17px;
}
.ant-radio .ant-radio-checked .ant-radio-inner {
  border-color: red !important ; */
/* } */

.box {
  float: left;
  margin: 0 15px;
}

#checkbox {
  display: none;
}
#label {
  display: flex;
  width: 13px;
  height: 13px;
  border: 2px solid gray;
  cursor: pointer;
}
#checkbox:checked + #label::after {
=======
  content: "✔";
  width: 13px;
  height: 13px;
  font-size: 10px;
  text-align: center;
  background-color: #ee7759;
  border-color: #ee7759;
}
