a {
  text-decoration-line: none;
  color: black;
}

.category {
  float: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  border: 1px #e0e0e0;
}
.category button {
  font-size: 13px;
  width: 25%;
  height: 40px;
  border-color: #e0e0e0;
  border: none;
  border-width: 0.5px;
  background-color: white;
  padding: 0;
}
.category button:active {
  color: #ee7759;
  font-weight: bold;
}
