@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('./neodgm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('./Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('./Pretendard-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}